.logo {
    padding-top: 30%;
}

.login {
    transform: scale(1.5);
    padding-top: 40px;
}

.md-panel--full {
    padding: 0px;
}

#saveButton {
    transform: scale(1.1);
    z-index: 10000;
    position: absolute;
    left: calc(100% - 160px);
    top: 11.5px;
    background-color: #00a0d1;
    color: white;
    font-family: sans-serif;
    display: none;
}

#disabledSaveButton {
    transform: scale(1.1);
    z-index: 10000;
    position: absolute;
    left: calc(100% - 104px);
    top: 11.5px;
    background-color: #8cde8c;
    color: white;
    font-family: sans-serif;
    display: none;
}

#saveModal {
    transform: scale(1.5);
    display: none;
    z-index: 10000;
}

#saveError {
    display: none;
}

#saveSuccess {
    display: none;
}

#saveSuccessInput {
    width: 100%;
}

#loginSuccess {
    display: none;
}

#loginError {
    display: none;
}

#loginPanel {
    display: none;
}

#loginError {
    position: relative;
    left: 14.5%;
}

#loginSuccess {
    position: relative;
    left: 14.5%;
}

#confirm-password {
    width: 100%;
}

#widget-box {
    z-index: 10000;
}

.md-modal__backdrop {
    top: 20% !important;
}

.md-modal__content {
    min-height: 250px !important;
}

.saveModalBody {
    width: 200px;
    margin: auto;
}

#error404 {
    text-align: center;
    z-index: 20000;
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    display: none;
}

#errorNNN {
    text-align: center;
    z-index: 20000;
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    display: none;
}

#errorNNN h1 {
    color: red;
}